<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCY_SmJ-i9NGdJ022dsIuauUehpVT6Z6p0</string>
	<key>GCM_SENDER_ID</key>
	<string>635698799657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lockpass.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lockpass-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lockpass-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635698799657:ios:cb4e529a0729f5a6f12838</string>
</dict>
</plist>